$boton:(
    pading: 8px,
    border: 1px,
    radio: 5px,
    color: rgb(38, 0, 255)
);

.btn{
    padding: map-get($boton , pading);
    border: map-get($boton , border );
    border-radius: map-get($boton ,radio );
    background-color: map-get($boton , color );

}

@mixin derechos {
        display: flex;
        justify-content: center;
        padding: 10px
}

.derechos{
    @include derechos;
}